---
sitemap: false
---

/*
 *
 *  So Simple
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

background: url("http://wlsgkrdl3045.github.io/images/bg.png");
background-size: 100% 100%;
// Partials
@import "variables";
@import "vendor/bourbon/bourbon";
@import "grid-settings";
@import "vendor/neat/neat";
@import "mixins";
@import "reset";
@import "site";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "layout";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "simple-search";
